.category{
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 400px;
	min-width: 100px;
	margin: 10px;
	padding: 20px;
	width: 100%;
	background-color:white;
	z-index: 1 !important;
}

.category:hover{
	transform: scale(1.05);
}

.category > img{
	height:300px;
	width: 100%;
	margin-bottom: 15px;
	object-fit: content;
}

.category > img:hover{
	cursor: pointer;
	
}

.category_link{
	margin: 20px 0px 0px 5px;
	font-family: inherit;
	font-size: 13px;
	color: blue;
}

.category_link:hover{
	color:red;
	text-decoration: underline;
}

.category_title{
	font-family: inherit;
	font-size: 20px;
	font-weight: 700;
}




@media (max-width: 580px) {

	.category{
		display:flex;
		flex-direction: column;
		width: auto;
		margin: 10px !important;
	}



	.category > img{
		width: 100%;
		object-fit: content;
		margin-bottom: 15px;
		justify-content: center;
	}

}