.checkout{
	display: flex;
	background-color: white;
	height: max-content;
	background-color: rgb(230, 230, 230);
}

.checkout{
	display: flex;
	flex-direction: column;
	margin-top: 0px !important;
}

.checkout_section{
	display: flex;
	flex-direction: row;
}

.checkout_left{
	flex:1;
	margin: 10px;
	padding:0px 10px 10px 10px;
	background-color: white;
}

.checkout_msg{
	border-bottom:1px solid black;
}

.checkoutproduct{
	margin:10px;
	display: flex;
}

.checkproduct_img{
	object-fit: contain;
	height:180px;
	width:180px;
	padding:5px;
}

.checkout_ad{
	width: 100%;
	margin-bottom: 10px 10px 0px 10px;
	object-fit: contain;
}

.checkoutproduct_title{
	font-size: 17px;
	font-weight:800;
}

.checkoutproduct_rating{
	display: flex;
}

.checkoutproduct_info > button{
	background-color: #f0c14b;
	border: 1px solid;
	border-color: #a88734 #9c7e31 #846a29;
}

.checkoutproduct_info{
	margin-top: 25px;
}

.checkoutproduct{
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}



@media (max-width:800px) {
	.checkoutproduct{
		display: flex;
		flex-direction: column;
		border:1px solid black;
		padding: 10px;
		margin:10px 0px 0px 0px;
	}
}



@media (max-width:800px) {

	.checkout{
		position: absolute;
		top:50%;
	}

	.checkout_right{
		position:absolute;
		top: -165px;
	}

	.checkout_left{
		position:absolute;
		top:100%;
		border-top: 2px solid black;
		margin-top: 15px;
	}
}