.home{
	background-color: rgb(230, 230, 230);
	max-width:1500px;
	margin-left: auto;
	margin-right: auto;
	z-index: -1;

}


.home_caurosel{
	width:100%;
	mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.1));
	z-index: -1;
	margin-bottom: -185px;
}

.sliderimg{
	width:100%;
	height:50%;
	object-fit: cover;
	z-index: -1;
}

.home_message{
	position:relative;
	width:96%;
	object-fit: contain;
	background: white;
	text-align: center;
	justify-content: flex-end;
	padding: 5px;
	z-index: 1;
	margin:10px;
}

.home_message_title{
	font-family: inherit;
	font-size: 14px;
	font-weight: 700;
}




.home_categories{
	display:flex;
	flex-direction: row;
	z-index:1;
	margin: 5px 10px;
}

.catogries_col1{
	display: flex;
	flex-direction: row;
	width:100%;
}

.catogries_col2{
	display: flex;
	flex-direction: row;
	width:100%;
}


.home_card{
	display:flex;
	flex-direction: column;
	background-color: white;
	z-index:1;
	margin: 10px 10px;
}

.home_card_elements{
	display:flex !important;
	flex-direction: row !important;
}

.home_card_title{
	font-size: 20px;
	font-weight: 700;
	font-family: inherit;
	padding: 10px 0px 15px 10px;
}

.direct_src{
	font-size: 15px;
	font-weight: 500px;
	font-family: inherit;
}








@media (max-width: 900px) {
	.home_categories{
		display: flex;
		flex-direction: column;
	}
}






@media (max-width: 580px) {
	.catogries_col1, .catogries_col2{
		display: flex;
		flex-direction: column;
	}
}




@media (max-width: 800px) {
	.sliderimg{
		width:100%;
		height: 500px;
		object-fit: cover;
	}
}

