.kitchen{
	background-color: rgb(230, 230, 230);
	padding: 6px 0px;
}


.kitchen_align{
	display: flex;
	flex-direction: column;
	background-color:rgb(230, 230, 230);
	margin: 10px;
	padding: 10px;

}

.kitchen_title{
	border-bottom: 1px solid #a6a6a6;
	margin:0px 10px;
}

.kit_title{
	font-weight: 600;
	font-size: 19px;
	font-family: inherit;
}

.kitchen_products{
	display: flex;
	flex-direction:row;
	background-color: rgb(230, 230, 230);
}



@media (max-width: 850px){
	.kitchen_products{
		display: flex;
		flex-direction: column;
	}	
}
